---
title: "ホーム"
layout: splash
header_row:
- image_path: /assets/images/RSRGP2017_Screenshot.jpg
  title: "RSR Grand Prix"
  excerpt: "Let's start the 2017 season"
  url: "/overview/"
  btn_label: "シリーズ概要"
  btn_class: "btn--inverse"
- image_path: /assets/images/preview_idx.jpg
  title: "Season Preview"
  excerpt: "Heading into 2017 season"
  url: "/season-preview/"
  btn_label: "シーズンプレビュー"
  btn_class: "btn--inverse"
category_row:
- image_path: /assets/images/teams_idx.jpg
  title: "参戦チーム"
  url: "/teams/"
- image_path: /assets/images/drivers_idx.jpg
  title: "ドライバー"
  url: "/drivers/"
- image_path: /assets/images/races_idx.jpg
  title: "レース日程"
  url: "/races/"
---

{% include feature_row id="header_row" type="left" %}

{% include feature_row id="category_row" %}
