---
layout: archive
title: "チーム"
permalink: /teams/
header:
  overlay_image: /assets/images/teams_idx.jpg
---

<div class="grid__wrapper">

{% for h_item in site.data.teams %}
  {% assign name = h_item[0] %}
  {% assign team = h_item[1] %}
  <div class="grid__item">
    <div class="archive__item-teaser">
      <img src="{{ name | remove: " " | prepend: '/assets/images/teams/' | append: '.jpg' | relative_url }}" alt="{{ name }}">
    </div>
    <h2 class="archive__item-title" itemprop="headline">
      {% capture i_url %}{{ name | slugify: 'pretty' | prepend: '/teams/' | append: '/' }}{% endcapture %}
      <a href="{{ i_url | relative_url }}" rel="permalink">
        <span class="fa-lg fa-fw">
          <i class="fas fa-car{% if team.color.inverse %} fa-inverse{% endif %}" style="background: {{ team.color.code }};"></i>
        </span>
        {{ team.ja_short_name | default: team.ja_name }}
      </a>
    </h2>
    <p class="archive__item-excerpt" itemprop="description">
      <ul class="fa-ul">
        {% for driver in team.drivers %}
          <li><i class="fa-li fa fa-user-circle" aria-hidden="true"></i>{{ driver }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endfor %}
</div>
