{% case include.type %}
  {% when "team" %}
    {% assign team_name = page.team_name %}
    {% assign stats = site.data.teams[team_name] %}
    {% capture name %}
      {{ team_name }}{% if team_name != stats.powerunit %}&nbsp;-&nbsp;{{ stats.powerunit }}{% endif %}
    {% endcapture %}
  {% when "driver" %}
    {% assign driver_name = page.driver_name %}
    {% assign stats = site.data.drivers[driver_name] %}
    {% assign team_name = stats.team_name %}
    {% capture name %}
      {% if stats.number %}{{ stats.number }}. {% endif %}{{ driver_name }}
    {% endcapture %}
{% endcase %}

<aside class="sidebar__right">
  <h3
    {% assign color = stats.color | default: site.data.teams[team_name].color %}
    {% if color %}
      style="background: {{ color.code }};{% if color.inverse %} color: #fff;{% endif %}"
    {% endif %}
  >
    {{ name }}
  </h3>
  <dl>
    {% case include.type %}
      {% when 'team' %}
        <dt>エントリー名</dt>
        <dd>{{ site.data.ja[team_name].entrant_name }}</dd>
        <dt>シャーシ</dt>
        <dd>{{ stats.chassis | default: "TBA" }}</dd>
        <dt>ドライバー</dt>
        {% for i in (0..1) %}
          <dd>
            {% assign driver = stats.drivers[i] %}
            {% if driver %}
              {% assign num = site.data.drivers[driver].number %}
              {% if num %}{{ num }}.{% endif %}
              <a href="{{ driver | slugify: 'pretty' | prepend: '/drivers/' | append: '/' | relative_url }}">
                {{ driver }}
              </a>
            {% else %}
              TBA
            {% endif %}
          </dd>
        {% endfor %}
        {% for driver in stats.alternate_drivers %}
          <dd>
            <i>
              {% assign num = site.data.drivers[driver].number %}
              {% if num %}{{ num }}.{% endif %}
              <a href="{{ driver | slugify: 'pretty' | prepend: '/drivers/' | append: '/' | relative_url }}">
                {{ driver }}
              </a>
            </i>
          </dd>
        {% endfor %}
        <hr />
      {% when 'driver' %}
        <dt>所属チーム</dt>
        <dd>
          <a href="{{ team_name | slugify: 'pretty' | prepend: '/teams/' | append: '/' | relative_url }}">
            {% include ja_name name=team_name %}
          </a>
        </dd>
    {% endcase %}
    <dt>初出走</dt>
    <dd>{% if stats.first_season %}{{ stats.first_season }} シーズン{% else %}なし{% endif %}</dd>
    {% if stats.race_starts %}
    <dt>出走レース数</dt>
    <dd>{{ stats.race_starts }} 戦</dd>
    {% endif %}
    <dt>チャンピオン回数</dt>
    <dd>{% if stats.championships %}{{ stats.championships.size }} 回{% else %}なし{% endif %}</dd>
    {% if stats.wins > 0 %}
      <dt>優勝回数</dt>
      <dd>{{ stats.wins }} 勝</dd>
    {% else %}
      <dt>レース最上位</dt>
      <dd>{% if stats.highest_finish > 0 %}{{ stats.highest_finish }} 位{% else %}なし{% endif %}</dd>
    {% endif %}
    <dt>表彰台回数</dt>
    <dd>{% if stats.podiums > 0 %}{{ stats.podiums }} 回{% else %}なし{% endif %}</dd>
    <dt>ポールポジション</dt>
    <dd>{% if stats.pole_positions > 0 %}{{ stats.pole_positions }} 回{% else %}なし{% endif %}</dd>
    <dt>ファステストラップ</dt>
    <dd>{% if stats.fastest_laps > 0 %}{{ stats.fastest_laps }} 回{% else %}なし{% endif %}</dd>
  </dl>
</aside>
